body{
    display: flex;
    justify-content: center;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif, Arial, Consolas;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
h1, h3{
    color: rgb(21,21,147);
}
h1{
    text-align: center;
}
h3{
    padding-right: 10px;
}
p{
    font-size: 17px;
}
img{
    max-width: 500px;
}
#ImageDiv{
    display: flex;
    justify-content: center;
}
.Information{
    display: inline-flex;
    align-items: center;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 7px;
}
#BodyContents{
    background-color: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.4);
    margin: 20px;
    padding: 20px;
}
#Dumbbells{
    border-radius: 50px;
}
#ToSignUp{
    font-size: x-large;
    margin-top: 10px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    color: white;
}