body{
    display: flex;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    font-family: sans-serif, Arial, Consolas;
}
#MainContent{
    padding: 20px;
    background: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.4);
    margin-top: 5rem;
    min-width: 500px;
    min-height: 4rem;
}
.Button{
    height: 3rem;
    width: 5rem;
    margin-top: 1rem;
    color: white;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    border-radius: 5px;
}
#FormInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#PersonalInfo{
    background: whitesmoke;
    border: 2px black solid;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}