body{
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif, Arial, Consolas;
}
form{
    background: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.4);
    margin: 20px;
    padding: 20px;
    min-width: 700px;
}
.Button{
    margin-top: 40px;
    margin-right: 20px;
    width: 40%;
    border-radius: 5px;
    height: 40px;
}
h1{
    color: rgb(21,21,147);
}
#Send{
    color: white;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
}
#Promotions{
    margin-top: 20px;
}
.FormBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    width: 700px;
}
.FormBox input{
    border: 1px solid black;
    border-radius: 7px;
    height: 40px;
    width: 300px;
    margin-top: 10px;
}
.SubBox {
    display: inline-grid;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

