body{
    display: flex;
    justify-content: center;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif, Arial, Consolas;
}
form{
    background-color: white;
    box-shadow: 0 0 100px rgba(0,0,0,0.4);
    padding: 20px;
    margin: 20px;
    max-width: 500px;
    float: left;
}
h1, h2{
    font-weight: bold;
    text-align: center;
    float: left;
    margin-bottom: 40px;
    color: rgb(21,21,147);
}
.FillIn{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
}
.Button{
    display: inline-flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 0 5px black;
}
.checks{
    display: flex;
    float: left;
    position: relative;
    vertical-align: middle;
}
input{
    margin-top: 10px;
    margin-bottom: 20px;
}
input[type="Radio"]{
    vertical-align: middle;
}
#PostalCodeLabel{
    display: flex;
}
#Promotions{
    float: left;
    margin: 10px;
}
#Send{
    color: white;
    font-weight: bold;
    background: rgb(21,21,147);
    background: linear-gradient(0deg, rgba(21,21,147,1) 35%, rgba(7,213,255,1) 100%);
}